

.ovide-PaginatedList
{
    display: flex;
    overflow: hidden;

    flex-flow: column nowrap;
    justify-content: stretch;
    .items-container
    {
        overflow: auto;

        flex: 1;
        // max-height: calc(100% - 2rem);
         > div
        {
            display: flex;
            overflow-y: auto;

            flex-flow: row wrap;
        }
    }
    .pagination
    {
        min-height: 5rem;
    }

    .pagination-previous,
    .pagination-next{
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms ease;

        &.is-disabled{
            opacity: .5;
            cursor: not-allowed;
            pointer-events: none;
            box-shadow: one;
        }
    }

    .pagination-list
    {
        
        li
        {
            a{
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 300ms ease;

            }

            
            &.is-current
            {
                a
                {
            
                    color: white!important;
                    background: #ff2b56;
                }
            }
        }
    }


    .my-masonry-grid
    {
        display: flex;

        width: auto;
        margin-left: -1rem; /* gutter size offset */
    }
    .my-masonry-grid_column
    {
        padding-left: 1rem; /* gutter size */

        background-clip: padding-box;
    }

    .my-masonry-grid_column > div
    {
        width: 100%;
    }
}
