/**
 * style definitions for the Layout component
 *
 * @module ovide/features/Layout
 */


.ovide-Layout
{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    width: 100%;
    height: 100%;

    > section {
        overflow: hidden;
    }
}
