/**
 * style definitions for the Landing component
 *
 * @module ovide/features/Landing
 */


.ovide-Landing
{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    overflow: auto;
    flex-flow: column nowrap;
    // justify-content: center;

    width: 100%;
    height: 100%;
    padding-top: 5rem;

    .hero-title
    {
        position: relative;

        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        .tag
        {
            font-size: 1rem;

            color: white;
            border-radius: 1em;
            background: #333;
            background: #93c54b;
        }
    }

    .logo-img
    {
        position: absolute;
        top: .2em;
        left: - 1.2em;

        height: .8em;
    }
}
