

.ovide-DownloadDesktop
{
    width: 100%;
    margin-top: 2rem;
    .box
    {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;

        min-height: 10rem;

        text-align: center;
        .icon
        {
            margin-bottom: 1rem;
        }
    }
}
